src/*.exe
src/bannercoin
src/bannercoind
src/test_bannercoin
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.bannercoin
#compilation and Qt preprocessor part
*.qm
Makefile
bannercoin-qt
#resources cpp
qrc_*.cpp
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
